.courier-delete-button{
    color: red;
    padding: 6px 12px;
    border-radius: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.actions-cell{
    display: flex;
    align-items: center;
    margin-top: -7px;
}

