.custom-navbar {
  height: 64px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.custom-navbar-left,
.custom-navbar-center,
.custom-navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.custom-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f2937;
  text-decoration: none;
}

.custom-logo {
  font-size: 24px !important;
  color: #23cfce;
}

.custom-nav-link {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #23cfce;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
}

.custom-icon {
  font-size: 20px !important;
}

.custom-btn {
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  font-weight: 500;
}

.filled-btn {
  background: linear-gradient(135deg, rgb(23, 207, 207), rgb(2, 132, 197));
  color: #fff;
}

.filled-btn:hover {
  background-color: #1ab8b8;
}

.ghost-btn {
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
}

.ghost-btn:hover {
  background-color: orange;
  color: #fff;
  border-color: orange;
}

.outline-btn {
  background-color: transparent;
  border: 1px solid rgb(2, 132, 197);
  color: rgb(2, 132, 197);
}

.outline-btn:hover {
  background-color: rgb(2, 132, 197);
  color: #fff;
}


@media (max-width: 768px) {
  .custom-navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    align-items: flex-start;
  }

  .custom-navbar-right {
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}
